body{
background-color: rgb(105, 238, 243);
color: black;
font-family: "SUSE", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;

}

button {
    background-color: rgb(182, 179, 189);
    color: rgb(83, 191, 241);
    font-family:"SUSE", sans-serif;
    
}